@tailwind base;
@tailwind components;
@tailwind utilities;

/* style header */

.header-menu ul li a {
    padding: 10px 5px;
    color: #fff;
}

.header-menu {
    height: 52px;
    width: 100%;
    background-color: #f18121;
}

.header-menu ul {
    height: 100%;
    align-items: center;
}